* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header,
.hero {
  background-color: #1f2937;
}
.header-text {
  font-size: 24px;
  color: #f9faf8;
}
a,
.hero-second {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

a:hover {
  color: #3882f6;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10%;
  height: 80px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 8px 0 0;
  align-items: center;
}

.hero {
  margin-bottom: 10px;
}

/* Hero text */
.hero-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-second {
  font-size: 18px;
  font-color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 20px 10%;
  gap: 40px;
}

button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
}

button:hover {
  background-color: #7297d7;
}

/* Four image section */

.tiles {
  margin: 80px 0;
  height: 200px;
}
.card-title {
  display: flex;
  justify-content: center;
}

.cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.card {
  width: 100px;
  flex-wrap: wrap;
}

.card img {
  border: 4px #4f72a3 solid;
  border-radius: 10px;
}

.text {
  font-size: 12px;
  color: #4f72a3;
}

/* Quote Section */

.quote {
  background-color: #e5e7eb;
  height: 200px;
}
.quote-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
  padding: 50px 0 10px;
  font-size: 18px;
  color: #1f2937;
  font-style: italic;
}

.signature {
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
  font-weight: 900;
  font-size: 12px;
}

/* Call to action section */
.cta {
  margin: 7% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 10px;
}

.cta h4 {
  color: white;
  font-size: 18px;
}

.cta p {
  font-size: 12px;
  color: #e5e7eb;
}

.cta-button {
  border-color: #e5e7eb;
  border-style: solid;
}

/* footer */
footer {
  background-color: #1f2937;
  color: #dbdbdb;
  text-align: center;
  padding: 20px;
}
